# Dependency directories
node_modules/

# Build outputs
dist/
# build/
frontend_web/dist/
frontend_admin/dist/
*.tsbuildinfo

# Environment files
# .env
# .env.local
# .env.development
# .env.production
# Logs & OS files
# *.log
# .DS_Store
# Thumbs.db
# Documentation

docs/
